.searchContainer{
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.searchBar {
  width: 100%;
  height: 48px;
  border: 1px solid var(--dark);
  border-radius: 48px;
  margin: 300px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.searchBar:hover {
  border-color: var(--main-color);
  cursor: pointer;
  color: var(--light);
}

.searchBar .searchIcon {
  width: 40px;
  padding-left: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.searchIcon img {
  width: 20px;
  height: 20px;
}

.searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light);
  font-size: var(--sm);
  font-weight: 600;
  padding-left: 15px;
  letter-spacing: 1px;
}


