:root {
  --background: #010101;
  --main-color: #cddc39;
  --second-color: #ededee;
  --dark: #a6a6a6;
  --dark2: #27292d;
}


body {
  margin: 0;
  font-family: "Muli","Helvetica","Arial",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
}

p {
  color: var(--second-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
